@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Inter";
  font-optical-sizing: auto;
  font-style: normal;
}

.cinzel-font {
  font-family: "Cinzel";
  font-optical-sizing: auto;
  font-style: normal;
}
.drawer-side{
  position: fixed !important;
}
.drawer{
  width: 85%;
  margin-left: 15%;
}